<h2>Base</h2>

<h1>h1 Title</h1>
<h2>h2 SubTitle</h2>
<h3>h3 SubTitle</h3>
<h4>h4 SubTitle</h4>
<h5>h5 SubTitle</h5>
<h6>h6 SubTitle</h6>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus accusantium alias, amet dignissimos dolor dolorum ex exercitationem magnam rem tenetur unde, veritatis! Eos explicabo fugiat impedit odio quisquam vel.
</p>


<h3>Links</h3>

<a class="app-a">Link 1</a>
<a class="app-a">Link 2</a>
<a class="app-a">Link 3</a>

<h3>Button</h3>

<button class="app-button">button</button>

<h3>Code</h3>

<code>const parameter = 42;</code>

<h3>Input</h3>

<input type="text" class="app-input">

<h2>Mixins</h2>

<h3>Shadow</h3>

<div class="shadow">shadow mixin</div>

<h3>Card</h3>

<div class="card">card mixin</div>
